#map {
  width: 100%;
  height: 415px;
  z-index: 1;
}

section.contact {
  background-color: #0d0d0d;

  .section__background {
    opacity: 0.3;
    z-index: 0;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
  }

  .contact-details {
    margin: 20px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  .nav-secondary {
    margin-bottom: 1em;
    
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (min-width: $dekstop-breakpoint) {
        flex-direction: row;
      }

      li {
        margin: 10px 0;

        @media screen and (min-width: $dekstop-breakpoint) {
          margin: 0 10px;
        }

        &.current-menu-item {
          a {
            border-bottom: 1px solid #fff;
          }
        }

        a {
          font-size: 2.0rem;
          font-family: 'Open Sans Condensed', sans-serif;
          text-transform: uppercase;
        }
      }
    }
  }
}