header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &.header--small {
    nav {
      height: calc(100vh - 80px);

      @media screen and (min-width: $dekstop-breakpoint) {
        height: auto;
      }
    }

    .brand {
      img {
        height: 60px;
      }
    }
  }

  .brand {
    img {
      height: 88px;
      transition: 0.4s height cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 108px);
    background-color: rgba(#fff, 0.95);
    //margin-top: 15px;
    
    &.nav--open {
      display: flex;
    }

    @media screen and (min-width: $dekstop-breakpoint) {
      position: static;
      display: flex;
      width: auto;
      height: auto;
      flex-direction: row;
      justify-content: flex-end;
      background-color: transparent;
    }

    & > div:first-of-type {
      ul {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $dekstop-breakpoint) {
          flex-direction: row;
          justify-content: flex-end;
        }

        li {
          margin: 10px 0;
          text-align: center;

          @media screen and (min-width: $dekstop-breakpoint) {
            margin: 0 30px 0 0;
            text-align: left;
          }

          &.current-menu-item {
            a {
              border-bottom: 1px solid #000;
            }
          }

          a {
            font-size: 2.4rem;
            font-family: 'Open Sans Condensed', sans-serif;
            text-transform: uppercase;
          }
        }
      }
    }
    
    .languages {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
          margin-right: 12px;

          &:last-of-type {
            margin-right: 0;
          }

          img {
            display: inline-block;
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(#fff, 0.9);

    @media screen and (min-width: $dekstop-breakpoint) {
      padding: 10px 90px 15px;
      box-shadow: 0 0 15px rgba(#999, 0.1);
    }
  }

  .hamburger {
    display: inline-block;
    color: inherit;

    @media screen and (min-width: $dekstop-breakpoint) {
      display: none;
    }
  
    .hamburger-box {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 30px;
    }
  
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      position: absolute;
      width: 35px;
      height: 4px;
      transition: 0.15s ease transform;
      background-color: #004e9e;
    }
  
    .hamburger-inner {
      top: 50%;
      display: block;
      margin-top: -2px;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-duration: 75ms;
    }
  
    .hamburger-inner::after,
    .hamburger-inner::before {
      display: block;
      content: "";
    }
  
    .hamburger-inner::before {
      top: -12px;
      transition: top 75ms ease 0.12s, opacity 75ms ease;
    }
  
    .hamburger-inner::after {
      bottom: -12px;
      transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    &.hamburger--active {
      .hamburger-inner {
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: rotate(45deg);
      }
  
      .hamburger-inner::before {
        top: 0;
        transition: top 75ms ease, opacity 75ms ease 0.12s;
        opacity: 0;
      }
  
      .hamburger-inner::after {
        bottom: 0;
        transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(-90deg);
      }
    }
  }
}