body.page {
  .background {
    display: block;
    width: 100%;
    height: 532px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main {
    color: $grey;

    .container {
      margin: 55px auto;
    }

    h1 {
      font-size: 4.4rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}