html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 150%;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $dekstop-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  position: relative;
  display: block;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 100%;
}

h1 {
  font-size: 5.1rem;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 2.9rem;
}

strong {
  font-weight: 700;
}

.section__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

section.idea {
  color: #fff;

  .section__background {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.76);
    }
  }

  .content {
    padding: 95px 0;
    text-align: center;

    h1 {
      margin-bottom: 10px;
    }
  }

  .columns {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;

    @media screen and (min-width: $dekstop-breakpoint) {
      flex-direction: row;
      align-items: stretch;
    }

    .column {
      width: 100%;
      max-width: 400px;
      padding: 55px 25px;
      border: 1px solid #fff;
      text-align: center;
      z-index: 1;

      &.camo, &.service {
        border-top: none;

        @media screen and (min-width: $dekstop-breakpoint) {
          border: 1px solid #fff;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 100vw;
      height: 100%;
      background-color: rgba($grey, 0.75);
      z-index: 0;
    }
  }

  .welcome {
    padding: 30px 0;
    text-align: center;
  }
}