body.template-contact {
  section.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      width: 100%;
    }

    .contact-details {
      width: 400px;
      padding: 50px 0;
      background: $grey;
      color: #fff;
      text-align: center;
    }

    form.wpcf7-form {
      width: 100%;
      margin-top: 25px;

      @media screen and (min-width: $dekstop-breakpoint) {
        width: 860px;
      }

      input {
        width: 100%;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 290px;
        }
      }

      textarea {
        width: 100%;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 435px;
        }
      }
    }

    .blocks {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-top: 95px;

      @media screen and (min-width: $dekstop-breakpoint) {
        flex-direction: row;
      }

      .block {
        width: 100%;
        padding: 1em 0;
        text-align: center;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: calc(100% / 3);

          &:nth-child(2) {
            border-left: 1px solid $light-grey;
            border-right: 1px solid $light-grey;
          }
        }
      }
    }
  }
}