@import '~baguettebox.js/dist/baguetteBox';

body.page-template-default {
  .main {
    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  }

  .gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    @media screen and (min-width: $dekstop-breakpoint) {
      flex-direction: row;
      align-items: flex-start;
    }

    a:nth-child(4n+4) {
      img {
        margin-right: 0;
      }
    }

    img {
      margin-right: 0;
      margin-bottom: 15px;

      @media screen and (min-width: $dekstop-breakpoint) {
        margin-right: 32px;
        margin-bottom: 0;
      }
    }
  }
}