@import '~baguettebox.js/dist/baguetteBox';

body.template-gallery {
  section {
    .gallery {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: $dekstop-breakpoint) {
        flex-direction: row;
        align-items: flex-start;
      }

      div {
        width: 290px;
        height: 180px;
        margin-bottom: 22px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 420px;
          height: 260px;
        }
      }
    }
  }
}