body.template-helicopter, body.template-part {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $dekstop-breakpoint) {
      flex-direction: row;
    }

    .categorys {
      .button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 8px;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 282px;
        }
      }
    }

    .helicopter {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      @media screen and (min-width: $dekstop-breakpoint) {
        flex-direction: row;
        width: 997px;
      }
    }

    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 50px 0;

      @media screen and (min-width: $dekstop-breakpoint) {
        flex-direction: row;
        height: 305px;
        margin: 0;
      }

      .image {
        position: relative;
        width: 290px;
        height: 180px;
        margin: 0 auto;
        // background-position: center center;
        // background-size: cover;
        // background-repeat: no-repeat;
        overflow: hidden;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 453px;
          height: inherit;
          margin-right: 12px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: auto;
          width: 100%;
        }
      }

      .thumbnails {
        height: inherit;
        margin-top: 1em;

        @media screen and (min-width: $dekstop-breakpoint) {
          margin-top: 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: inherit;

          @media screen and (min-width: $dekstop-breakpoint) {
            align-items: flex-start;
          }

          li {
            position: relative;
            width: 144px;
            height: 97px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &.active {
              &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 5px solid $grey;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }

    .parameters {
      width: 100%;
      font-size: 2.0rem;

      @media screen and (min-width: $dekstop-breakpoint) {
        width: auto;
        margin: 0 55px 0 45px;
      }

      div {
        margin-bottom: 0.5em;
      }

      h1 {
        text-align: left;

        @media screen and (min-width: $dekstop-breakpoint) {
          text-align: center;
        }
      }

      h3 {
        display: inline-block;
        font-size: inherit;
      }

      h1 {
        font-size: 6.2rem;
        margin: 15px 0 50px;
      }
    }

    .description {
      width: 100%;
      margin-top: 65px;
    }
  }

  div.contact {
    width: 100%;
    margin: 30px 0;

    @media screen and (min-width: $dekstop-breakpoint) {
      width: 1000px;
      margin: 60px 0 0 auto;
    }

    h2 {
      font-size: 4.4rem;
      font-weight: 300;
      text-align: center;
      padding: 30px 0;
      margin-bottom: 60px;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
    }
  }
}

body.template-part {
  section {
    .parameters {
      margin: 0;

      @media screen and (min-width: 1200px) {
        margin: 0 0 0 55px;
      }


      h1 {
        font-size: 3.2rem;
        text-align: left;
      }
    }
  }
}
