body.template-home {
  section.top {
    .background {
      display: block;
      width: 100%;
      height: 100vh;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }

    .latest {
      position: relative;
      margin-top: -70px;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      color: #000;

      ul {
        li {
          display: block;

          .image-wrapper {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}