body.template-sale, body.template-parts {
  .main {
    h1 {
      padding-bottom: 30px;
      border-bottom: 1px solid $grey;
      margin-bottom: 20px;
    }
  }

  section.sale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $dekstop-breakpoint) {
      flex-direction: row;
    }

    .categorys {
      .button {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 8px;

        @media screen and (min-width: $dekstop-breakpoint) {
          width: 282px;
        }
      }
    }

    .grid {
      @media screen and (min-width: $dekstop-breakpoint) {
        width: 1017px;
        margin: 0 -10px;
      }

      ul {
        justify-content: center;

        @media screen and (min-width: $dekstop-breakpoint) {
          justify-content: flex-start;
        }

        li {
          margin: 40px 0 0;
          border: none;

          @media screen and (min-width: $dekstop-breakpoint) {
            width: 318px;
            margin: 0 10px 40px 10px;
          }

          &.line {
            width: 100%;
            height: 1px;
            margin: 40px 0 15px;
            background: $grey;
          }

          div {
            display: block;
            margin-bottom: 10px;
          }

          h2 {
            margin-bottom: 15px;
          }

          .image-wrapper {
            @media screen and (min-width: $dekstop-breakpoint) {
              height: 214px;
            }
          }

          .button {
            margin-top: 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
