.button, input.wpcf7-submit {
  display: inline-block;
  padding: 1em 75px;
  border: 2px solid  $grey;
  font-size: 1.5rem;
  line-height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: $grey;
  color: #fff;
  text-align: center;
  transition: 0.4s background-color cubic-bezier(0.075, 0.82, 0.165, 1), 0.4s color cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;

  &:hover, &.button--active {
    background-color: #fff;
    border-color: $grey;
    color: #000;
  }
}