form.wpcf7-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: $dekstop-breakpoint) {
    flex-direction: row;
  }

  label {
    margin-right: 20px;
    font-size: 2.0rem;
    line-height: 3.6rem;
    vertical-align: top;
  }

  label[for="message"] {
    display: block;

    @media screen and (min-width: $dekstop-breakpoint) {
      margin-bottom: 35px;
    }
  }

  input, textarea {
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 3.6rem;
    border: 1px solid $light-grey;
    outline: none;

    &:focus {
      border-color: $grey;
    }
  }

  input.wpcf7-submit {
    border: 2px solid $grey;
  }

  .wpcf7-form-control-wrap {
    display: inline-block;
    margin-bottom: 24px;
  }

  .wpcf7-response-output {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 1.8rem;
    line-height: 3.6rem;
  }

  .column--left {
    text-align: left;

    @media screen and (min-width: $dekstop-breakpoint) {
      text-align: right;
    }
  }

  input {
    width: 100%;

    @media screen and (min-width: $dekstop-breakpoint) {
      width: 330px;
    }
  }

  textarea {
    width: 100%;
    height: 170px;
    resize: vertical;

    @media screen and (min-width: $dekstop-breakpoint) {
      width: 490px;
    }
  }

  input.wpcf7-submit {
    display: block;
    width: 286px;
    margin: 5px 0 0 auto;
  }

  .wpcf7-not-valid-tip {
    font-size: 1.2rem;
  }
}