.grid {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    li {
      display: none;
      width: 412px;
      margin: 0 6px;
      border: 16px solid #fff;
      background-color: #fff;
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif;
      //opacity: 0;
      //transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;

      &.active {
        //opacity: 1;
        display: block;
      }
  
      div {
        display: inline-block;
  
        &.flight_hours {
          margin-left: 5px;
        }
  
        &.price {
          display: block;
        }
      }
  
      .image-wrapper {
        width: 100%;
        height: 245px;
        margin-bottom: 20px;
        overflow: hidden;

        .image {
          width: 100%;
          height: 100%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          transform: scale(1);
          transition: 0.8s transform cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            transform: scale(1.1);
          }
        }
      }
  
      h2 {
        font-size: 3.7rem;
      }
  
      h3 {
        display: inline-block;
      }
  
      .button {
        margin-top: 15px;
        margin-bottom: 35px;
      }
  
      p, h3 {
        font-size: 1.9rem;
      }
    }
  }
}